body.auth .stripes-wraper {
    background: linear-gradient(150deg,#6da252 15%,#3c763d 70%,#3c763d 94%)!important;
}


body.auth .stripes-wraper .stripes :first-child {
    background: #6da252!important;
}

body.auth .stripes-wraper .stripes :nth-child(2) {
    background: #3c763d!important;
}
body.auth .stripes-wraper .stripes :nth-child(3) {
    background: #3a693b85!important;
}

body.auth .stripes-wraper .stripes :nth-child(4) {
    background: #056707!important;
}

body.auth .stripes-wraper .stripes :nth-child(5) {
    background: #6da252!important;
}

.btn-theme {
    background: linear-gradient(150deg,#6da252 15%,#3c763d 70%,#3c763d 94%)!important;
    color: #fff;
}
body.auth .box .body a {
    color: #6da252!important;
}

body.auth .logo {
    margin-bottom: 25px!important;
    margin-left: 70px!important;
}
body.auth .box .body {
    padding: 25px!important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #6da252 !important;
}

.form-control:focus {
    border-color: #6da252 !important;
}
 .formloader{
    display: none;
  }
 #add_item{
 	margin-top: 0.3em;
    padding: 7px 12px;
 } 
 .btn{
 	border: none;
 	border-radius: 0px;
 }

  .paging_full_numbers a.paginate_button {
    color: #6da252!important;
}
.paging_full_numbers a.paginate_active {
    z-index: 2;
    color: #ffffff;
    cursor: default;
    background-color: #6da252!important;
}

    .skin-green .main-header .navbar {
    background-color: #6da252!important;
    }
    .skin-green .main-header .logo {
    background-color: #6da252ed!important;
   }
   .skin-green .main-header .navbar .sidebar-toggle:hover {
    background-color: #629149!important;
}

.skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {
    background-color: #444!important;
}
.skin-green .sidebar-menu>li:hover>a, .skin-green .sidebar-menu>li.active>a {
    color: #fff!important;
    background: #40403f!important;
    border-left-color: #629149!important;
}
.skin-green .sidebar-menu>li.header {
    color: #4b646f;
    background: #353535;
}
.box.box-danger {
    border-top-color: #6da252!important;
}
.skin-green .main-header li.user-header {
    background-color: #6da252!important;
}

   /* .skin-red .main-sidebar, .skin-red .left-side {
        background-color: #322222!important;
    }
    .content-wrapper {
        background-color:#ecf0f5!important;
    }
    .form-control:focus {
        border-color: ##dd4b39!important;
    }*/
   /* .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
        background-color:#6da252!important;
        border-color:#6da252!important;
    }*/
    .text-custom{
        color: #6da252;
    }
    .slimScrollBar{
      background: white!important;
    }

  .user-panel > .info > p {
    font-weight: 1500;
    margin-bottom: 9px;
    font-size: 15px;
    margin-top: 5px;
}

.btn-custom {
    background-color: #6da252;
    border-color: #6da252;
    color: #fff;
}
.btn-custom.focus, .btn-custom:focus, .btn-custom:hover {
    color: #fff;
    text-decoration: none;
}
.btn-custom:hover,.btn-custom:active, .btn-custom.hover {
    background-color: #6da252;
    border-color: #6da252;
    color: #fff;
}